*{
    margin: auto;
    font-family: sans-serif;
    
}

.list{
    display : flex;
    padding-top: 15px;
    justify-content:space-around;
    align-items:flex-start;
}
.navigation{
    background-color: aqua;
    height: 50px;
}
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.features{
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items:center;
}